:root {
  --primary-color: rgb(252, 231, 72);
  --secondary-color: rgb(30, 30, 30);
  --tertiary-color: rgb(238, 238, 238);
  --quaternary-color: rgb(255, 255, 255);
  --back-color: rgb(38, 90, 204);
  --back-hover-color: rgb(176, 176, 176);
  --primary-font: 'Josefin sans', sans-serif;
  --title: 700;
  --sub-title: 500;
  --body: 400;
}

.createForm_container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
  border-radius: 5px;
  background: var(--quaternary-color);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #e4e4e4;
}

.create-input-title {
  font-size: 25px;
  margin-bottom: 0.225rem;
}

form input[type='text'] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  padding: 1em;
  margin-bottom: 0.87rem;
}

.create-input-label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.115rem;
}

.createProfile-btn-container {
  display: flex;
  justify-content: center;
}

.createProfile-btn-container .createProfile-btn {
  margin-right: 1rem;
}
.createProfile-btn-container .backDashboard-btn {
  margin-left: 1rem;
}

.createProfile-btn {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Josefin sans' sans-serif;
  font-weight: var(--sub-title);
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
}

.createProfile-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.backDashboard-btn {
  background: var(--back-color);
  color: var(--quaternary-color);
  font-family: 'Josefin sans' sans-serif;
  font-weight: var(--sub-title);
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
}

.backDashboard-btn:hover {
  background: var(--back-hover-color);
  color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  form input[type='text'] {
    width: 100%;
  }
}
