:root {
  --primary-color: rgb(252, 231, 72);
  --secondary-color: rgb(30, 30, 30);
  --tertiary-color: rgb(238, 238, 238);
  --quaternary-color: rgb(255, 255, 255);
  --back-color: rgb(38, 90, 204);
  --back-hover-color: rgb(176, 176, 176);
  --primary-font: 'Josefin sans', sans-serif;
  --title: 700;
  --sub-title: 500;
  --body: 400;
}

main {
  background: var(--tertiary-color);
  grid-area: main;
  overflow-y: auto;
}

.displayMain__container {
  padding: 20px 35px;
}

.displayMain__title {
  display: flex;
  align-items: center;
}

.displayMain__greeting > h1 {
  font-size: 35px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.displayMain__greeting > p {
  font-size: 16px;
  font-weight: var(--title);
  color: var(--secondary-color);
}

.gamesDiv {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.chart__container {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.charts__left {
  padding: 25px;
  border-radius: 5px;
  background: var(--quaternary-color);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #e4e4e4;
}

.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__left__title > div > h1 {
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.charts__left__title > div > p {
  font-size: 14px;
  font-weight: var(--body);
  color: var(--secondary-color);
}

.charts__left__title > i {
  color: var(--primary-color);
  font-size: 20px;
  background: var(--secondary-color);
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  border: 0px solid var(--secondary-color);
  padding: 15px;
}

/* @media only screen and (max-width: 1100px) {
  .gamesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */
