main {
  background: rgb(238, 238, 238);
  grid-area: main;
  overflow-y: auto;
}

.displayMain__container {
  padding: 20px 35px;
}

.displayMain__title {
  display: flex;
  align-items: center;
}

.displayMain__greeting > h1 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.displayMain__greeting > p {
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.gamesDiv {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.chart__container {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.charts__left {
  padding: 25px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #e4e4e4;
}

.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__left__title > div > h1 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.charts__left__title > div > p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.charts__left__title > i {
  color: rgb(252, 231, 72);
  font-size: 20px;
  background: rgb(30, 30, 30);
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  border: 0px solid rgb(30, 30, 30);
  padding: 15px;
}

@media only screen and (max-width: 1100px) {
  .gamesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
