.gameForm_container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #e4e4e4;
}

.game-input-title {
  font-size: 25px;
  margin-bottom: 0.225rem;
}

form input[type='number'] {
  display: block;
  width: 25%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgb(30,30,30);
  padding: 1em;
  margin-bottom: 0.87rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.game-input-label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.115rem;
}

.createGame-btn {
  background: rgb(30, 30, 30);
  color: rgb(252, 231, 72);
  font-family: 'Josefin sans' sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
}

.createGame-btn:hover {
  background: rgb(252, 231, 72);
  color: rgb(30, 30, 30);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  form input[type='number'] {
    width: 100%;
  }
}
