:root {
  --primary-color: rgb(252, 231, 72);
  --secondary-color: rgb(30, 30, 30);
  --tertiary-color: rgb(238, 238, 238);
  --quaternary-color: rgb(255, 255, 255);
  --back-color: rgb(38, 90, 204);
  --back-hover-color: rgb(176, 176, 176);
  --primary-font: 'Josefin sans', sans-serif;
  --title: 700;
  --sub-title: 500;
  --body: 400;
}

.backAllGamesBtn {
  background: var(--back-color);
  color: var(--quaternary-color);
  font-family: 'Josefin sans' sans-serif;
  font-weight: var(--sub-title);
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
  margin-top: 1.25rem;
}

.backAllGamesBtn:hover {
  background: var(--back-hover-color);
  color: var(--secondary-color);
}

.singleGame__main {
  background: var(--tertiary-color);
  grid-area: main;
  overflow-y: auto;
}

.singleGameMain__container {
  padding: 20px 35px;
}

.singleGameMain__title {
  display: flex;
  align-items: center;
}

.singleGameMain__greeting > h1 {
  font-size: 35px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.singleGameMain__greeting > p {
  font-size: 16px;
  font-weight: var(--title);
  color: var(--secondary-color);
}

.singleGame__charts,
.singleGameCharts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.singleChart__charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.doughChart__div {
  display: flex;
  justify-content: center;
}

.singleGame__div {
  padding: 25px;
  border-radius: 5px;
  background: var(--quaternary-color);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #e4e4e4;
  width: 800px;
  margin-top: 2rem;
}

.singleGame__div__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.125rem;
}

.singleGame__div__title > div > h1 {
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.singleGame__div__title > div > p {
  font-size: 14px;
  font-weight: var(--body);
  color: var(--secondary-color);
}

.singleGame__div__title > i {
  color: var(--primary-color);
  font-size: 20px;
  background: var(--secondary-color);
  border-radius: 200px 0px 200px 200px;
  border: 0px solid var(--secondary-color);
  padding: 15px;
}

@media only screen and (max-width: 1250px) {
  .singleChart__charts {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 855px) {
  .singleGame__charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .singleGame__div {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .singleGame__div {
    width: 371px;
  }
}
