.alertDiv {
  background: rgb(252, 231, 72);
  font-size: 12px;
  color: rgb(30, 30, 30);
  font-family: Helvetica;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
