#sidebar {
  background: rgb(30, 30, 30);
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(252, 231, 72);
  margin-bottom: 30px;
}

.sidebar__img {
  display: flex;
  align-items: center;
}

.sidebar__title > div > img {
  width: 75px;
  object-fit: contain;
}

.sidebar__title > i {
  font-size: 18px;
  display: none;
}

.sidebar__link {
  color: rgb(252, 231, 72);
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.sidebar__link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.active_menu_link {
  background: rgba(255, 255, 255, 0.3);
  color: rgb(252, 231, 72);
}

.active_menu_link a {
  color: rgb(252, 231, 72)!important;
}

.sidebar__link > a {
  text-decoration: none;
  color: rgb(252, 231, 72);
  font-weight: 700;
}

.sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: rgb(252, 231, 72);
}
.sidebar__logout:hover {
  background: rgba(255, 255, 255, 0.3);
}

.sidebar__logout > a {
  text-decoration: none;
  color: rgb(252, 231, 72);
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar-responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
  }
  .sidebar__title > i {
    display: inline;
  }
}
