:root {
  --primary-color: rgb(252, 231, 72);
  --secondary-color: rgb(30, 30, 30);
  --tertiary-color: rgb(238, 238, 238);
  --quaternary-color: rgb(255, 255, 255);
  --back-color: rgb(38, 90, 204);
  --delete-color: rgb(201, 0, 0);
  --back-hover-color: rgb(176, 176, 176);
  --primary-font: 'Josefin sans', sans-serif;
  --title: 700;
  --sub-title: 500;
  --body: 400;
}

.navbar {
  background: var(--secondary-color);
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  width: 100%;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: var(--primary-color);
}

.navbar__right {
  margin-right: 15px;
}

.navbar__right .links > a {
  margin-right: 30px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 15px;
  font-weight: var(--title);
}

.navbar__right .active_link {
  color: var(--back-color);
  border-bottom: 3px solid var(--back-color);
  padding-bottom: 12px;
}

.navbar__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__left > a {
  margin-left: 20px;
  text-decoration: none;
}

.navbar_left > a > i {
  color: var(--back-hover-color);
  font-size: 16px;
  border-radius: 50px;
  background: var(--quaternary-color);
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}

.logoutLink {
  color: var(--primary-color);
  font-size: 15px;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }
  .navbar__left {
    display: none;
  }
}
