:root {
  --primary-color: rgb(252, 231, 72);
  --secondary-color: rgb(30, 30, 30);
  --tertiary-color: rgb(238, 238, 238);
  --quaternary-color: rgb(255, 255, 255);
  --primary-font: 'Josefin sans', sans-serif;
  --title: 700;
  --sub-title: 500;
  --body: 400;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --header-height: 3rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  font-weight: var(--sub-title);
}

h1 {
  font-size: 2.25rem;
  font-weight: var(--title);
}

h2 {
  font-size: 1.5rem;
  font-weight: var(--title);
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./registerPic.jpg');
  background-size: cover;
}

.left .copy {
  color: var(--quaternary-color);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left p {
  font-weight: var(--body);
}

.right .copy {
  color: var(--secondary-color);
  text-align: center;
}

.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.logo {
  width: 80px;
  height: 48px;
}

.sign-in {
  text-decoration: none;
  font-weight: var(--title);
  color: var(--secondary-color);
}

.sign-in:hover {
  text-decoration: underline;
}

.right form {
  width: 328px;
}

form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='password2'] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  padding: 1em;
  margin-bottom: 0.87rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input-container .password {
  position: relative;
}

.input-container .password {
  position: absolute;
  top: 42px;
  right: 16px;
}

.signup-btn {
  display: block;
  width: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-weight: var(--title);
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.signup-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

/*Media Queries*/
@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 899px) {
  .left {
    display: none;
  }

  .copy {
    margin-top: 15px;
  }
}
