:root {
  --primary-color: rgb(252, 231, 72);
  --secondary-color: rgb(30, 30, 30);
  --tertiary-color: rgb(238, 238, 238);
  --quaternary-color: rgb(255, 255, 255);
  --back-color: rgb(38, 90, 204);
  --delete-color: rgb(201, 0, 0);
  --toggle-color: rgb(34, 204, 0);
  --back-hover-color: rgb(176, 176, 176);
  --primary-font: 'Josefin sans', sans-serif;
  --title: 700;
  --sub-title: 500;
  --body: 400;
}

.settingsDiv {
  display: flex;
  flex-direction: row;
}

.editProfileBtn {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Josefin sans' sans-serif;
  font-weight: var(--sub-title);
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
  margin-right: 3px;
}

.deleteAccountBtn {
  background: var(--delete-color);
  color: var(--quaternary-color);
  font-family: 'Josefin sans' sans-serif;
  font-weight: var(--sub-title);
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
  margin-left: 3px;
}

.editProfileBtn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.deleteAccountBtn:hover {
  background: rgb(169, 0, 0);
  color: var(--quaternary-color);
}
