.settingsDiv {
  display: flex;
  flex-direction: row;
}

.editProfileBtn {
  background: rgb(30, 30, 30);
  color: rgb(252, 231, 72);
  font-family: 'Josefin sans' sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
  margin-right: 3px;
}

.deleteAccountBtn {
  background: rgb(201, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Josefin sans' sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 5px;
  margin-left: 3px;
}

.editProfileBtn:hover {
  background: rgb(252, 231, 72);
  color: rgb(30, 30, 30);
}
.deleteAccountBtn:hover {
  background: rgb(169, 0, 0);
  color: rgb(255, 255, 255);
}
