:root {
  --primary-color: rgb(252, 231, 72);
  --secondary-color: rgb(30, 30, 30);
  --tertiary-color: rgb(238, 238, 238);
  --quaternary-color: rgb(255, 255, 255);
  --back-color: rgb(38, 90, 204);
  --delete-color: rgb(201, 0, 0);
  --toggle-color: rgb(34, 204, 0);
  --back-hover-color: rgb(176, 176, 176);
  --primary-font: 'Josefin sans', sans-serif;
  --title: 700;
  --sub-title: 500;
  --body: 400;
}

.main__cards {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-radius: 5px;
  background: var(--quaternary-color);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #e4e4e4;
}

.card {
  display: flex;
  flex-direction: row;
  height: 12px;
  padding: 15px;
  background: var(--quaternary-color);
}

.card_inner {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 7px;
}

.text-primary-p {
  color: var(--secondary-color);
  font-weight: var(--body);
}

.text-title {
  font-size: 25px;
  color: var(--secondary-color);
}
